body{
  background-color: rgb(132, 176, 176);
}

/* ----------ШАПКА---------------- */


header{
    height: 70px;
    background: #1c1c1c;
    margin-top: -9px;
    margin-left: -9px;
    margin-right: -9px;
}

.logo {
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 20px;
  text-decoration: none;
}

.btn-menu{
  height: 20px;
  margin-left: 20px;
  vertical-align: 20px;
}

.basket-button {
  margin-left: 28cm;
}

/* ----------СТИЛИ КНОПОК------------- */

.btn-style-1 {
  background-color: rgb(218, 218, 218);
  color: black;
  padding: 5px;
  text-decoration: none;
  border-radius: 2px;
}

.btn-style-1:hover {
  background: rgba(218, 218, 218, 0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}

/* ---------ГЛАВНАЯ СТРАНИЦА------- */

.photo-penis {
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.text {
  font-size: 90%;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  color: #4d4d4d;
}

.infoBlock {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}
.text-header {
  text-align: center;
  font-size: 150%;
}
